@tailwind base;
@tailwind components;
@tailwind utilities;

#finisher-canvas {
  background-color: transparent !important;
}

.green-glow {
  filter: drop-shadow(0 0 12px #dbfd51ba);
}

.white-glow {
  filter: drop-shadow(0 0 12px #FFFFFF);
}
